<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<style>
			#app {
				opacity: 0;
				transition: all 250ms;
			}
		</style>
		<link rel="manifest" href="/dist/manifest.webmanifest">
		<script src="/dist/registerSW.js"></script>
		{{ craft.vite.script("/src/js/utils/lazy.ts") }}
		{{ craft.vite.script("/src/js/app.ts") }}
	</head>
	<body>

		<div id="app" class="duration-200">
			{% include "components/global/headerNav" %}
			{% block content %}
				No Block Content Defined
			{% endblock %}
		</div>

		{# parse-ignore-start #}
		<script>
			// Fall back for long page load
			function fallBack() {
				setTimeout(function () {
					var app = document.getElementById('app');
					if (app) {
						app.style.opacity = '1.0';
					}
				}, 2500);
			}
			fallBack();
		</script>
		{# parse-ignore-endd #}
	</body>
</html>
