{% extends "layouts/_default" %}

{% block content %}

	<section class="flex items-center flex-col justify-center w-screen min-h-screen m-0">
		<div class="relative w-full">
			<div class="max-w-2xl p-8 xl:my-16 mx-auto">
				<h1 class="mb-6 text-5xl text-center">Hello, world!</h1>
				<hello-world></hello-world>
				<p class="mb-6 text-center">Thank you for using our starter kit! If you are seeing this message, you were able to get everything up and running!</p>
				<test></test>
			</div>

			{# Testing Image Rendering #}
			<div class="max-w-5xl p-8 xl:my-16 mx-auto">
				{% if entry.singleImage|length %}
					<div class="flex flex-wrap">
						<div class="image-wrap lg:w-1/2 py-8 px-4">
							<p>utilities/picture</p>
							{% include "utilities/picture" with {
								asset: entry.singleImage.one,
								width: 448,
								height: 206,
								mode: 'fit',
								class: 'max-w-full h-auto',
								sizes: ['1x', '1.5x', '2x'],
							} %}
						</div>
						<div class="image-wrap lg:w-1/2 py-8 px-4">
							<p>utilities/img</p>
							{% include "utilities/img" with {
								asset: entry.singleImage.one,
								width: 448,
								height: 206,
								mode: 'fit',
								class: 'max-w-full h-auto',
								sizes: ['1x', '1.5x', '2x'],
							} %}
						</div>
					</div>
				{% endif %}
			</div>

			{# Components display #}
			<div class="max-w-5xl p-8 xl:my-16 mx-auto">
				<h2 class="mb-6 text-4xl text-center">Boilerplate components</h2>

				{# Modals #}
				<div class="relative my-8 lg:my-12">
					<h3 class="text-2xl border-b">Modals</h3>
					<div class="relative">
						<div class="my-6">
							<Modal button-class="px-4 py-1 border-blue-500 border-2 rounded text-blue-500"></Modal>
						</div>
						<div class="my-6">
							<Modal>
								<template v-slot:trigger>
									<button class="px-4 py-1 border-blue-500 border-2 rounded text-blue-500">This is a modal button.</button>
								</template>
								<template v-slot:content>
									New content.
								</template>
							</Modal>
						</div>
					</div>
				</div>

				<div class="relative my-8 lg:my-12">
					<h3 class="text-2xl border-b">Accordion Sample</h3>
					<div class="my-6">
						<Accordion :list="[{ headline: 'Header 1', content: 'Content 1', }, { headline: 'Header 2', content: 'Content 2',}, { foo: 'Header 3', bar: 'Content 3', } ]"/>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
