<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>

<IfModule mod_mime.c>
    # Manifest file
    AddType application/manifest+json webmanifest
</IfModule>

# your https configuration
Include conf/extra/https-craft-vite.dev.simpleissimple.com.conf

<IfModule ssl_module>
    SSLRandomSeed startup builtin
    SSLRandomSeed connect builtin
</IfModule>

<VirtualHost craft-vite.dev.simpleissimple.com:80>
    ServerName craft-vite.dev.simpleissimple.com
    
    RewriteEngine On
    
    # disable TRACE and TRACK methods
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]
    
    Options +FollowSymlinks
    RewriteCond %{SERVER_PORT} !443
    
    RewriteRule (.*) https://craft-vite.dev.simpleissimple.com/ [L,R]
    
    ErrorLog logs/craft-vite.dev.simpleissimple.com-error_log
    CustomLog logs/craft-vite.dev.simpleissimple.com-access_log combined
</VirtualHost>